body {
  margin: 0;
  overflow: hidden;
  background-color: #87ceeb; /* Bleu ciel */
}

#game-area {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#sea {
  position: absolute;
  width: 100vw;
  height: 300%; /* La mer est trois fois plus haute que la zone visible */
  background-image: url('images/sea.png');
  background-size: cover;
  transform: translateY(0);
}

#boat {
  position: absolute;
  width: 50px;
  transition: transform 0.2s ease-in-out; /* Douceur pour la rotation */
}

#plankton {
  position: absolute;
  width: 30px;
  display: none; /* Le plancton apparaîtra plus tard */
}
