{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captcha Poisson - Drag and Drop</title>
    <link rel="stylesheet" href={% static 'captcha/style.css' %}>
</head>
<body>
    <h1>Déplacez les bulles avec poissons dans la zone pour valider</h1>
    <div id="zoneDeplacement" class="zone">
        <p>Placez ici toutes les bulles avec poisson pour déverrouiller le bouton.</p>
    </div>

    <div id="bulleContainer" class="bulle-container">
        <!-- Les bulles seront générées ici -->
    </div>

    <button id="valider" disabled>Valider</button>

    <script src={% static 'captcha/script.js'%}></script>
</body>
</html>
